<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.InarAcademy.listeners.ExtentReportListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="InarAcademyTestNG">
        <classes>

            <class name="org.InarAcademy.testSuites.LoginTests">
            </class>

            <class name="org.InarAcademy.testSuites.order.VerifyCalculationTest">
            </class>

            <class name="org.InarAcademy.testSuites.order.InvalidCardNumberTests">
            </class>

            <class name="org.InarAcademy.testSuites.viewAllOrders.ViewOrderTest">
            </class>

            <class name="org.InarAcademy.testSuites.viewAllOrders.CheckBoxTest">
            </class>

            <class name="org.InarAcademy.testSuites.viewAllProducts.ViewAllProductsTest">
            </class>

        </classes>
    </test>
</suite>