<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.InarAcademy.listeners.ExtentReportListener"/>
    </listeners>

    <test verbose="2" name="InarAcademyTestNG">
        <classes>

            <class name="org.InarAcademy.testSuites.weborder.LoginTests">
            </class>

            <class name="org.InarAcademy.testSuites.weborder.LogoutTests">
            </class>

            <class name="org.InarAcademy.testSuites.weborder.OrderPageTests">
            </class>

            <class name="org.InarAcademy.testSuites.weborder.ViewAllOrdersTests">
            </class>

            <class name="org.InarAcademy.testSuites.weborder.ViewAllProductsTest">
            </class>

            <class name="org.InarAcademy.testSuites.targetMarket.LoginTests">
            </class>

        </classes>
    </test>
</suite>